secret.php

python_files/faceRecognition/Foto/

python_files/faceRecognition/__pycache__/

captured/

python_files/faceRecognition/Capture/

python_files/faceRecognition/holoAbsen.db

python_files/faceRecognition/LastFrame/
